<h1>Products Page</h1>

<ul>
    <% cart.each do |product| %>
        <li>
            <%= product %>
        </li>
    <% end %>
</ul>


<%= form_tag(controller: "products", action: "add_to_cart", method: "post") do %>
    <%= label_tag(:product, "Add Product:") %>
    <%= text_area_tag(:product) %>
    
    <%= submit_tag('add to cart') %>
<% end %>



